button {
    background-color: #818181;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
div {
    color: white;
    padding: 0px 5px;
    text-align: center;
    font-size: 20px;
}